<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.boqi.mapper.AddressMapper" >
	<!-- 搜索一个用户的部分地址信息 -->
	<select id="getByUsid" parameterType="int" resultType="Address">
		select * from(select * from address where usid=#{usid})where rownum<![CDATA[<]]>=4
	</select>
	
	<select id="getByUsidAll" parameterType="int" resultType="Address">
		select * from address where usid=#{usid}
	</select>
	
	<insert id="addOne" parameterType="Address">
		insert into address values(seq_add.nextval,#{usid},#{postcode},#{addname},#{tel},#{shen},#{shi},#{xian},#{zhenjie},#{readdr},1,'','')
	</insert>
</mapper>