<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.boqi.mapper.BrandMapper" >
	<!-- 分页查询 -->
	<select id="findFenYe" parameterType="map" resultType="Brand">
		select * from(select a.*,rownum rn from (select *from brand order by brandid) a where
		rownum<![CDATA[<]]>=#{yi}) b where rn<![CDATA[>]]>#{er}
	</select>
	<!-- 所有品牌数量 -->
	<select id="total" resultType="int">
		select count(brandid) from brand
	</select>
	<!-- 所有的品牌 -->
	<select id="getAllBrand" resultType="Brand">
		select * from brand where status=1
	</select>
	
	<select id="getProBrand" resultType="Brand">
		select * from brand where status=1
	</select>
	<!-- 品牌的销售所有信息 -->
	<select id="getBrandShowInfo" resultType="BrandBean">
		 select b.brandid,b.brandname,sum(o.pronum*p.bqpri) br_pro_total,sum(o.pronum) br_num_total from 
		 brand b,orderform o,productinfo p where 
		 b.brandid=p.brandid and o.proid=p.proid and o.status>=2 group by b.brandid,b.brandname
	</select>
	<!-- 一个品牌的销量和销售金额:每一天的情况 -->
	<select id="getOneBrand_sell" parameterType="int" resultType="BrandBean">
		select brandid,brandname,paytime,sum(br_pro_total) br_pro_total,sum(br_num_total) br_num_total from 
			(select b.brandid,b.brandname,to_char(paytime,'YYYY-MM-DD') as paytime,sum(o.pronum*p.bqpri) br_pro_total,
				sum(o.pronum) br_num_total from 
				brand b,orderform o,productinfo p,ordercontent ot where 
				b.brandid=p.brandid and o.proid=p.proid and o.orderid=ot.orderid and o.status>=2 and b.brandid=#{id}
			group by b.brandid,b.brandname,paytime)
		group by brandid,brandname,paytime
		order by paytime
	</select>
</mapper>