<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.boqi.mapper.BrandMapper" >
	<!-- 分页查询 -->
	<select id="findFenYe" parameterType="map" resultType="Brand">
		select * from(select a.*,rownum rn from (select *from brand order by brandid) a where
		rownum<![CDATA[<]]>=#{yi}) b where rn<![CDATA[>]]>#{er}
	</select>
	
	<select id="total" resultType="int">
		select count(brandid) from brand
	</select>
</mapper>