<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.boqi.mapper.ProductinfoMapper" >
	<!-- 获取商城主页的所有种类的前8个商品 -->
	<select id="findTop8OfProductByLei" resultType="Top8ProductinfoBean">
		select *from(select t.*,row_number() over (partition by t.fid order by t.proid desc) RN from 
		(select p.*,s.fid fid from productinfo p,secondmenu s where p.tid=s.tid) t) where  RN<![CDATA[<]]>=8
	</select>
	<!-- 通过种类来获取商品 -->
	<select id="findTypePro" parameterType="map" resultType="Productinfo">
		select * from(select a.*,rownum rn from (select proid,proname,nature,b.brandname,s.tname,suitpet,pictrue,
		promarprice,bqpri,prosales,prointro,inventory,p.status from productinfo p,brand b,secondmenu s where 
		p.tid=s.tid and b.brandid=p.brandid and  suitpet=#{petType} and p.status in(0,1) order by proid) a where 
		rownum<![CDATA[<]]>=#{yi}) b where rn<![CDATA[>]]>#{er}
	</select>
	<!-- 获取一个种类的数量 -->
	<select id="ProTotal" parameterType="string" resultType="int">
		select count(proid)  from productinfo where suitpet=#{type}
	</select>
	<!-- 添加商品 -->
	<insert id="addProduct" parameterType="ProductinfoBean">
		insert into productinfo values(seq_proid.nextval,#{proname},#{nature},#{brandid},#{tid},#{suitpet}
		,#{pictrue},#{promarprice},#{bqpri},#{prosales},#{prointro},#{inventory},#{status},null,null)
	</insert>
	<select id="searchPro" parameterType="map" resultType="Productinfo">
		select * from(select a.*,rownum rn from (select proid,proname,nature,b.brandname,
		s.tname,suitpet,pictrue,promarprice,bqpri,prosales,prointro,inventory,p.status 
		from productinfo p
		left join brand b on p.brandid=b.brandid
		left join secondmenu s on p.tid=s.tid where proname like '%${info}%' or nature like '%${info}%' or brandname
		like '%${info}%' or tname like '%${info}%' or suitpet like '%${info}%' or prointro like '%${info}%'
		order by #{order}) 
		a where rownum<![CDATA[<]]>=${one}) b where rn<![CDATA[>]]>${two}
	</select>
	<!-- 查询一个商品的信息 -->
	<select id="findAproduct" parameterType="int" resultType="Productinfo">
		select * from productinfo where proid=#{proid}
	</select>
	<!--lsp：index.jsp页面狗商品的部分查询信息  -->
	<select id="findIndexDogPro" resultType="IndexProductBean">
		select * from (select p.proid,f.fid,p.proname,p.prointro,p.pictrue,rownum rn from secondmenu s,productinfo p,firstmenu f 
 	where p.suitpet='狗' and s.tid=p.tid and f.fid=s.fid order by p.proid asc) where rn<![CDATA[<]]>=4
	</select>
	
	<!--lsp：index.jsp页面猫商品的部分查询信息  -->
	<select id="findIndexCatPro" resultType="IndexProductBean">
		select * from (select p.proid,f.fid,p.proname,p.prointro,p.pictrue,rownum rn from secondmenu s,productinfo p,firstmenu f 
 			where p.suitpet='猫' and s.tid=p.tid and f.fid=s.fid  order by p.proid asc) where rn<![CDATA[<]]>=4
	</select>
	
	<!--lsp：index.jsp页面小宠商品的部分查询信息  -->
	<select id="findIndexsmallPro" resultType="IndexProductBean">
		select * from (select p.proid,f.fid,p.proname,p.prointro,p.pictrue,rownum rn from secondmenu s,productinfo p,firstmenu f 
 			where p.suitpet='小宠' and s.tid=p.tid and f.fid=s.fid  order by p.proid asc) where rn<![CDATA[<]]>=4
	</select>
	<!-- 修改商品库存 -->
	<update id="updateGoodsNum" parameterType="map">
		update productinfo set inventory=inventory-#{pronum} where proid=#{proid}
	</update>
	<!-- 根据商品名查询商品 -->
	<select id="findNatureByName" parameterType="string" resultType="Productinfo">
		select proid,proname,nature from productinfo where proname in
		<foreach item="names" index="index" collection="array" open="(" separator="," close=")">
        	#{names}
        </foreach>
	</select>
	<!-- 查询商品根据商品名和属性 -->
	<select id="findPriceByNaNa" parameterType="map" resultType="Productinfo">
		select * from productinfo where proname=#{name} and nature=#{nature}
	</select>
	<!-- 后台商品信息(包括商品类型) -->
	<select id="findProductsInfo" parameterType="int" resultType="ProductinfoBean">
		select distinct f.fid,b.brandname,f.fname,s.tname,p.* from firstmenu f,secondmenu s,productinfo p,brand b where 
		p.proid=#{id} and p.tid=s.tid and s.fid=f.fid and p.brandid=b.brandid
	</select>
	<!-- 后台修改商品信息 -->
	<update id="updateProduct" parameterType="ProductinfoBean">
		update productinfo set proname=#{proname},nature=#{nature},brandid=#{brandid},
		<if test="pictrue != null">
			pictrue=#{pictrue},
		</if>
		tid=#{tid},
		promarprice=#{promarprice},bqpri=#{bqpri},prosales=#{prosales},inventory=#{inventory},
		<if test="prointro != null">
			prointro=#{prointro},
		</if>
		status=#{status} where proid=#{proid}
	</update>
	<!-- 获取商品库存 -->
	<select id="getproNum" parameterType="int" resultType="int">
		select inventory from productinfo where proid=#{pro}	
	</select>
	<!-- 获取商品的购买信息 -->
	<select id="getBuysInfo" parameterType="int" resultType="ProductinfoBean">
		select * from
			(select u.uname,om.pronum,p.nature,oc.starttime from 
			bquserinfo u,ordercontent oc,orderform om,productinfo p where p.proid=om.proid and
			u.usid=oc.usid and oc.orderid=om.orderid and p.proid=#{proid} and oc.orderstate<![CDATA[>]]>=2 order by oc.starttime desc) 
		where rownum<![CDATA[<]]>21
	</select>
</mapper>
