@charset "utf-8";
/* CSS Document */

#dogpic{
	margin-top:15px;	
}
#dogpic li{
	list-style:none;
}
#dogpic dl{
	float:left;
	margin-top:10px;
	margin-right:14px;
}

#dogpic dl dt img{
	width:180px;
	height:135px;
	display:block;
}
#dogpic dl dd{
	display:block;
	background-color:#CCC;
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
}
#dogpic dl dd a{
	
	color:#000;
}

