#topbar{
	min-width:1190px;
	height:36px;
	border-bottom:1px solid #ddd;
	font: 14px/36px 'Arial', 'Microsoft Yahei';
}
.intopbar{
	width:1190px;
	min-width:1190px;
	margin-left:auto;
	margin-right:auto;
}
.login ul{
	list-style:none;
}
.login ul li{
	line-height:16px;
	padding:0 10px;
	margin:10px 0;
	border-right:1px solid #CCC;
	float:left;
}
.login ul .index{
	border-right:none;
}
.login ul li a{
	text-decoration:none;
	color:black;
}
body, div, p, span, form, iframe, table, td, th, input, textarea, button, label, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.right{
	float:right;
}