
@charset "utf-8";
/* CSS Document */
*{
	margin:0px auto;
	padding:0px;
}
body{
    overflow-x: hidden;
}
a{
	text-decoration:none;
	color:#000;
	font-size:14px;
}

#toolbar{
	width:100%;
	height:40px;
	border-bottom:1px solid #CCC; 
	background-image: url();
}
#ad-mod{
	width:100%;
	height:80px;
	background:#f02016;
}
#header{
	width:100%;
	height:130px;
	
}
#lianjie{
	width:100%;
	height:36px;
	background:#e53;
}
#search{
	width:100%;
	height:40px;
	background:#EAEAEA;
}
#search-auto{
	width:1190px;
	margin-left:auto;
	margin-right:auto;
}
#search-one{
	float:left;
	height:40px;
	line-height:40px;
}
#search-one a{
	font-size:14px;
}
#search-two{
	margin-top:6px;
	width:150px;
	height:25px;
	float:left;
	background:#FFF;
}
#search-text2{
	border-style:none;
	width:123px;
	height:24px;
}
#search-zoom{
	cursor:pointer;
	width:20px;
	height:20px;
	background:url(../shoppingimg/zoom.png) no-repeat;
}
#search-3{
	margin-top:10px;
	margin-right:30px;
	float:right;
}
#maincontainer{
	margin-left:auto;
	margin-right:auto;
	width:1190px;
	height:2262.72px;
	 
	
}
#goodsCate{
	margin-top:20px;
	width:190px;
	background:#FFF;
}
#left-content{
	width:190px;
	height:2262.72px;
	float:left;
}
#right-content{
	
	margin-left:20px;
	width:980px;
	height:2262.72px;
	background:#FFF;
	float:left;
}
#filter-container{
	border-bottom:1px solid #999;
	width:980px;
	height:91px;
	background:#FFF;
	margin-top:30px;
}
#filter-title{
	margin-top:12px;
	margin-left:2px;
	font-size:12px;
	color:#999;
	width:80px;
	height:17px;
	float:left;
}
#filter-con-list{
	float:left;
	width:860px;
	height:80px;
}
#more-filter-con{
	margin-top:12px;
	width:38px;
	height:17px;
	float:left;
}
#sort{
	margin-top:30px;
	width:980px;
	height:38px;
	background:#EAEAEA;
	
}
#sort-span{
	font-size:14px;
	line-height:38px;
}
#span-totalgoods{
	font-size:12px;
	margin-left:350px;
}
#sort-page{
	margin-left:10px;
	font-size:12px;
}
#sort-right-a1{
	margin-left:18px;
}
#sort-right-a1{
	margin-left:10px;
	color:#999;
	background:#FFF;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	
}
#sort-right-a2{
	
	
	background:#FFF;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	
}
.sort-left-a{
	margin-left:10px;
	width:58x;
	height:26px;
	background:#FFF;
	padding:5px;
}
.product-container{
	width:980px;
	height:2025px;
	background:#FFF;
}
.product-container ul{
	list-style:none;
}
.product-container ul li{
	margin-top:20px;
	margin-left:15px;
	width:230px;
	height:385px;
	float:left;
}
.product-p1{
	width:210px;
	height:22px;
}
.product-p1 strong{
	color:#F63;
}
.product-p1 span{
	font-size:14px;
	background:#F63;
	color:#FFF;
}
.product-p1 em{
	font-size:14px;
	background:#FFF;
	color:#F63;
	border:1px solid #F63;
}
.product-p2 {
	width:210px;
	height:40px;
}

.product-p3{
	font-size:12px;
	width:210px;
	height:27px;
	color:#F63;
}
.pproduct-status{
	width:210px;
	height:17px;
}
.product-status span{
	color:#CCC;
	margin-left:10px;
	font-size:12px;
}
.product-status a{
	
	margin-left:20px;
	font-size:12px;
}

.add-cart{
	background:#EAEAEA;
	width:130.8px;
	height:30px;
	float:left;
	border-right:1px solid #999;
	
}
.do-attention{
	width:87.2px;
	height:30px;
	float:left;
	background:#EAEAEA;
}
.add-cart span{
	margin-left:5px;
	
}
.add-cart a img{
	margin-left:15px;
	padding-top:8px;
}
.do-attention span{
	margin-left:5px;
}
.do-attention a img{
	margin-left:5px;
	padding-top:8px;
}
#active{
	margin-left:5px;
	width:60px;
	height:26px;
	background:#F63;
	padding:5px;
	color:#FFF;	
}


#foot_service{
	width:100%;
	height:120px;
	background:#e53;
}
#link{
	width:100%;
	height:157px;
	background:#CCC;
	
}
#footer{
	width:100%;
	height:135px;
	
}
#left-chioce{
	width:36px;
	height:1000px;
	float:right;
	background:#000;
	margin-top:-3004px;
	position:fixed;
	right:0;
	
}
#TopUserInfo{
	width:338px;
	height:36px;
	float:left;
	padding-left:640px;
}
#star{
	margin-top:11px;
}
#local{
	margin-top:11px;
	padding-left:5px;
}
#location{
	margin-left:2px;
	color:#F30;
	font-size:14px;
}
#littrang{
	margin-left:8px;
	margin-top:5px;
	
}
#TopUserInfo li{
	
	list-style:none;
	float:left;
	margin-left:10px;
	
}
#top-li1{
	height:19px;
	width:50px;
	padding-right:10px;
	
	border-right:1px solid #CCC;
}
#top-li2{
	height:19px;
	width:50px;
	padding-right:10px;
	border-right:1px solid #CCC;
	}
#top-li3{
	height:19px;
	width:65px;
	padding-right:10px;
	border-right:1px solid #CCC;
}
#top-li4{
	height:19px;
	width:80px;
	padding-right:10px;
	border-right:1px solid #CCC;
}
.top-lix{
	line-height:38px;
	text-align:center;
	width:100px;
	margin-left:0 !important;
	position:relative;
}
#toolbar-linjian{
	width:100px;
	height:120px;
	background:#FFF;
	z-index:111;
	position:absolute;
	border-top:1px solid #CCC;
	display:none;
}
#toolbar-linjian a{
	display:block;
	width:100px;
	height:39px;
	border-bottom:1px solid #CCC;
}

.top-li{
	border-right:1px;
	line-height:38px;
}
#logo{
	width:180px;
	height:88px;
	float:left;
}
#boqilogo{
	margin-top:24px ;
	}
#top-search {
	margin-top:49px ;
	padding-left:80px;
	width:590px;
	height:38px;
	float:left;
}
#search-text{
	width:498px;
	height:36px;
	float:left;
}
#button{
	background:#F30;
	width:86px;
	height:38px;
	float:left;
	border:none;
	cursor:pointer;
	font-size:16px;
	color:#FFF;
}	
#s-search{
	padding-top:5px;
	font-size:14px;
	padding-left:80px;
	width:438px;
	height:15px;
	float:left;
}
#s-search a{
	padding-left:5px;
	font-size:14px;
}
#icon_dogs{
	margin-top:8px;
	margin-left:30px;
	width:26px;
	height:26px;
}
#ad-right{
	margin-top:-80px;
	
	width:220px;
	height:60px;
	float:right;
	
}
#nav-left1{
	
	background:#C00;
	width:190px;
	height:36px;
	float:left;
	position:relative;
}
#allClassify{
	position:absolute;
	z-index:111;
	width:190px;
	height:450px;
	background:#FFF;
	top:208px;
	outline:1px solid #C00; 
	display:none;
}
#nav-left2{
	width:650px;
	height:36px;
	float:left;
}
#nav-left2 a{
	display:block;
	width:80px;
	float:left;
	font-size:16px;
	line-height:36px;
	
	color:#FFF;
}
#nav-right{
	margin-left:200px;
	width:142px;
	height:36px;
	float:left;
	background:#C00;
}
#nav-left1 a{
	width:190px;
	line-height:36px;
	margin-left:10px;
		
}
#nav-left1 a span{
	font-size:16px;
	color:#FFF;
}	
#nav-left1>a>img{
	
	margin-left:55px;
}
#shop-car *{
	padding-left:10px;
	float:left;
	font-size:14px;
	color:#FFF;
}
#shop-car span{
	line-height:36px;
}
#shop-text{
	float:left;
}
#shop-text a{
	line-height:36px;
}
#shop-text img{
	padding-top:8px;
}
#foot_s_body{
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:92px;
}
#link-auto{
	
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:157px;
}
#link-auto dl{
	margin-top:5px;
	float:left;
	margin-left:120px;
}
#link-auto dl dd a{
	
	font-size:small;
}
#link-auto dl dt{
	font-size:16px;
	font-weight:bold;
}
#link-auto dl dd {
	margin-top:1px;
	
}
#footer-auto{
	width:990px;
	height:134px;
	margin-left:auto;
	margin-right:auto;
}
#footer-link{
	text-align:center;
}
#footer-bot{
	padding-top:20px;
}
#copy span,a{
	text-align:center;
	font-size:12px;
}
#copy{
	text-align:center;
}
#footimg{
	text-align:center;
}
#hot{
	width:190px;
	height:806px;	
	background:#FFF;
	margin-top:30px;
	border:1px solid #999;
}
#bar-title{
	margin-top:15px;
	width:168;
	height:22px;
	font-size:16px;
	text-align:center;
}
#bar-title1{
	margin-top:8px;
	width:188px;
	height:24px;
	font-size:16px;
	line-height:24px;
	text-align:center;
	
}
#brands{
	width:190px;
	height:191px;
	background:#FFF;
	margin-top:6px;
	border:1px solid #999;
}
#brands ul{
	margin-top:8px;
}
#brands ul li{
	width:94px;
	height:49px;
	list-style:none;
	float:left;
	border-top:1px solid #999;
	
}

#brands ul li img{
	margin-left:7px;
	margin-top:5px;
	width:80px;
	height:36px;
}



.toolbar-auto{
	margin-left:auto;
	margin-right:auto;
	width:1190px;
}
.left{
	width:209px;
	height:38px;
	float:left;
}
.collect_left{
	width:122px;
	height:36px;
	float:left;
}
.city_left{
	border-left:1px solid #FFF;
	border-right:1px solid #FFF;
	width:85px;
	height:40px;
	float:left;
	position:relative;
}
.City_list_select{
	display:none;
	position:absolute;
	top:40px;
	left:479px;
	width:450px;
	height:265px;
	background:#FFF;
	z-index:111;
	border:1px solid #ccc;
	
}
.City_list_select dl{
	width:100%;
	height:65px;
	border-bottom:1px dashed #999;

	
	
	
}
.City_list_select dl dd{
	width:350px;
	float:left;
	margin-top:15px;
	
}
.City_list_select dl dt{
	margin-left:10px;
	margin-top:15px;
	font-size:14px;
	color:#999;
	float:left;
	
}
.City_list_select dl dd a{
	margin-left:15px;
	font-size:14px;
}
.ad-mod-auto{
	width:1190px;
	height:80px;
}
.top-auto{
	width:1190px;
	height:130px;
	margin-left:auto;
	margin-right:auto;
}

#lianjie-auto{
	margin-left:auto;
	margin-right:auto;
	width:1190px;
}
.foot_pro{
	color:#FFF;
	float:left;
	margin-top:14px;
	width:196px;
	height:92px;
	border-right:1px dashed #FFFFFF;
}
.foot_pro_1,.foot_pro_2,.foot_pro_3,.foot_pro_4,.foot_pro_5{
	margin-left:40px;
	margin-top:5px;
}
.name{
	text-align:center;
}
.foot_pro dd{
	font-size:14px;
	text-align:center;
}
.foot_pro dt{
	margin-left:80px;;
	
}
.goodsCateTitle{
	border:1px solid #999;
	line-height:39px;
	width:188px;
	height:36px;
	background:#EAEAEA;
	font-size:16px;
	
}
.goodsCateTitle *{
	float:left;
	margin-left:20px;
}
.goodsCateList{	
	width:190px;
}
.goodsCateList li{
	list-style:none;
	
}
.goodsCateList-li1{
	
	width:189px;
	height:142px;
	border-left:1px solid #999;
	
}
.goodsCateSubTile{
	width:165px;
}
.goodsCateSubTile a{
	padding-top:10px;
	display:block;
	width:100px;
	height:30px;
	float:left;
	text-align:center;
}
#petDogfFoodimg{
	margin-top:15px;
	margin-left:45px;
	float:left;
}

.goodsCateSubTile a span{
	font-size:14px;
	margin-left:-10px;
	width:56px;
	height:19px;
}
.goodsCateSubTile a img{
	margin-top:0px;
	margin-left:95px;
}
.goodsCateSub{
	overflow:hidden;
}
.goodsCateSub a{
	line-height:29px;
	display:block;
	width:79.6px;
	height:29px;
	float:left;
	margin-left:10px;
	margin-top:4px;
}
.goodsCateList-lix{
	width:190px;
	background:#EAEAEA;
	border:1px  solid #999;
	border-top-color:#EAEAEA;
}
.goodsCateList-lix h2{
	margin:11px 0;
}
.goodsCateList-lix img{
	float:right;
	padding-right:20px;	
}
.goodsCateList-lix span{
	margin-left:20px;
}
.hotlist li{
	width:168px;
	height:244px;
	list-style:none;
	margin-top:10px;
}
.goodsName{
	
	width:168px;
	height:40px;
}
.soldNum{
	float:right;
	font-size:12px;
	margin-top:5px;
}
.price{
	color:#F63;
}
.noright{
	width:94px;
	border-left:1px solid #999;
}
.filter-item-pinpai{
	width:137.6px;
	height:17px;
	float:left;
	display:block;
	text-align:left;
	margin-top:12px;
	color:#03F;
	
}
.thisye{
	margin-left:250px;
	padding:12px;
	background:#F63;
	border:1px solid #CCC;
}
.thisye1{
	padding:12px;
	background:#fff;
	border:1px solid #CCC;
}
.total_page{
	margin-left:30px;
}
.page_text{
	width:30px;
	height:30px;
}
a:hover{
	color:#F30;
} 
#footer-link a:hover{
	text-decoration:underline;
}
#copy a:hover{
	text-decoration:underline;
}
.active1:hover{
	border:1px solid #f30;
}
#nav-left2 a:hover{
	background:#630;
}
.goodsCateSub a:hover{
	color:#FFF;
	background:#F30;
}
.left-choice-nav ul{
	list-style:none;
    margin-top: 100px;
    font-size: 13px;
}
.left-choice-nav ul li {
    border: 1px solid #808080;
    width: 36px;
    height: 70px;
    margin-top: -1px;
}
.left-choice-nav  p{
       font-size: 12px;
}
.left-choice-nav p{
    color:grey;
}
.left-choice-nav ul li img {
  margin-top:10px;
  margin-left: 10px;
}
.socket img{
    padding-top:10px;
}
#left-chioce {
    width: 36px;
    height: 1000px;
    float: right;
    background: #181818 none repeat scroll 0% 0%;
    margin-top: -3004px;
    position: fixed;
    right: 0px;
}
.petDog{
	
}
.one {
    border-radius: 100%;
    background: red;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    position: absolute;
    right: 4px;
    color: white;
}