@charset "utf-8";
/* CSS Document */

 li{
	  list-style:none;
  }
 
  a{
	  text-decoration:none;
  }
  
  #topnav{
  	  width:1180px;
	  margin-top:9px;
	  margin-left:15%; 
  }
  
  #topnav ul li{
	  margin-right:20px;
	   list-style-type:none;
	   display:inline-block;
  }
  
  
  #topnav ul li a{
	  font-size:14px;
	  color:#000;
	   list-style-type:none;
  }
 #baike{
	  padding-bottom:5px;
 }
 #denglu{
	 padding-left:300px;
	 border-right:1px  solid #999;
	 padding-right:10px;
}

 #topnav #zhuce{
	 margin-left:-7px;
	 border-right:1px solid #999;
	 padding-right:10px;
 }
 #topnav #weibo1{
	 margin-left:-7px;
	 border-right:1px solid #999;
	 padding-right:10px;
 }
 #topnav #weixin1{
	 margin-left:-7px;
	 border-right:1px solid #999;
	 padding-right:10px;
 }
 #weibologo{
	 margin-right:4px;
	 height:12px;
	 width:16px;
 }
 
 #weixinlogo{
	 margin-right:4px;
	 height:12px;
	 width:16px;
 }
 #phonelogo{
	 margin-right:4px;
	 height:15px;
	 width:9px;
 }
 #userName{
	 padding-left:200px;;
	 color:#F05030;
	 padding-right:10px;
	 font-size:14px;
 }
 #exit{
	 border-right:1px solid #999;
	 padding-right:10px;
 }
