/**
 * Created by fanghui on 2015/4/7.
 */
body {
  font: 12px/150% Arial,Verdana,"\5b8b\4f53";
  color: #666;
  background: #fff;
  width: 320px;
  height: 340px;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  margin: 0;
  padding: 0;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h4, h5, h6 {
  font-size: 12px;
}

ol, ul {
  list-style: none;
}

.login-form {
  padding: 30px 0 15px;
  margin: 0 25px;
}

.login-form {
  position: relative;
  z-index: 4;
  width: 251px;
  background: #fff;
  overflow: visible;
}

.login-form .login-box .mc {
  overflow: visible;
}

.form label, .form input, .form select, .form textarea, .form button, .form .label {
  float: left;
  font-size: 12px;
}

.form input[type="checkbox"]{
  margin-left: 0;
}

.form .item {
  position: relative;
  margin-bottom: 20px;
  z-index: 1;
}

.form .item-fore1, .form .item-fore2 {
  border: 1px solid #dddddd;
  height:39px;
  width:249px;
  +padding: 10px 0 10px 50px;
}

.form .item-fore1 {
  z-index: 6;
  margin-bottom: 0;
  border-bottom: none;
}

.form label {
  float: none;
}

.form .item .login-label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  background: url(../images/silder/pwd-icons-new.png) no-repeat;
}

.form .item .name-label {
  background-position: 0 0;
}

.form .itxt {
  line-height: 18px;
  border: 0;
  padding: 10px 0 10px 50px;
  +padding: 0;
  margin-top: 0px;
  +margin-top:-1px;
  width:249px;
  width:199px\9;
  float: none;
  overflow: hidden;
  font-size: 14px;
  font-family: '\5b8b\4f53';
}

.form .captha{
  width: 150px;
  width:100px\9;
}

.form .captha input{
    padding-left: 10px;
    width: 150px;
    width:100px\9;
}

.form .captha img{
  position: absolute;
  top: 0;
  right: -97px;
  width: 94px;
  height: 39px;
}

.form .item .pwd-label {
  background-position: -48px 0;
}

.form input[type=password] {
  font-family: Tahoma,Helvetica,Arial;
}

.form .item-fore3 {
  z-index: 5;
  margin-bottom: 15px;
}

.form .item-fore4 {
  z-index: 5;
  margin-bottom: 2px;
  background-color: #ffebec;
  border: 1px solid #ffbdbf;
  text-align: center;
  padding: 5px;
  color: #ff6655;
  margin-top: -14px;
}

.login-form .login-box .login-btn {
  border: 1px solid #e35342;
  margin: 0 auto;
  height: 33px;
  position: relative;
}

.btn-img, .button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
}

.login-form .login-box .login-btn .btn-img {
  border: 1px solid #e35342;
  display: block;
  background: #ff6655;
  height: 31px;
  line-height: 31px;
  color: #fff;
  font-size: 20px;
  font-family: '\5fae\8f6f\96c5\9ed1';
}

.login-form .login-box .login-btn a:hover{
	text-decoration:none
}

.login-form .login-box .safe {
  position: relative;
  color: #666;
}

.login-form .login-box .safe span {
  margin-right: 15px;
}

.login-form .login-box .safe .forget-pw-safe {
  position: absolute;
  margin: 0;
  top:0;
  right: 0;
  right: 20px\9;
}

.login-form .login-box .coagent {
  line-height: 22px;
  height: auto;
  text-align: left;
  margin-top: -5px;
}

.login-form .login-box .coagent h5 {
  font-weight: 400;
  color: #999;
}

.login-form .login-box .coagent ul {
  display: block;
}

.login-form .login-box .coagent li {
  float: left;
}

.login-form .login-box .coagent li .line {
  color: #ccc;
  padding: 0 10px;
}
